#recent-feeds {
  width: 35rem;
  max-width: 90%;
  margin: 3rem auto;
}

.header {
  font-family: Source Han Sans CN;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.3em;
  text-align: left;
}

/* main page */
.main-page {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr min-content;
}

/* left */
.left {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: flex;
  justify-content: center;
}

/* right */
.right {
  grid-column: 2 / -1;
  grid-row: 1 / 2;
  position: relative;
}
