#recent-feeds_h {
  width: 35rem;
  max-width: 90%;
  margin: 3rem auto;
}

.header_h {
  font-family: Source Han Sans CN;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.3em;
  text-align: left;
}

/* main page */
.main-page_h {
  width: 100%;
  display: flex;
  justify-content: space-around;
  text-align: space-even;
}

/* left */
.left_h {
  margin-left: 100px;
  overflow: hidden;
  flex-wrap: wrap;
  position: relative;
}

/* right */
.right_h {
  margin-left: 50px;
  position: relative;
  overflow-y: scroll;
}
