.feed-item {
  margin: 1rem 0;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  color: black;
  padding: 1rem 2rem;
  border-color: black;
  border-width: 3px;
  border-radius: 5px;
  cursor: pointer;
  width: 80%;
}

/* .feed-item {
  margin: 1rem 0;
  background: white;
  border-style: solid;
  color: black;
  padding: 1rem 2rem;
  border-color: black;
  border-width: 1px;
  border-radius: 5px;
  cursor: pointer;
  width: 80%;
} */

.username {
  font-family: Source Han Sans CN;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.05em;
  text-align: left;
}

.time {
  font-family: Source Han Sans CN;
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #9d9d9d;
}

.feed-content {
  font-family: Source Han Sans CN;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.025em;
  text-align: left;
  margin-left: 8%;
  margin-right: 5%;
  margin-bottom: 10px;
}

.reactions {
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  flex-direction: row;
  align-content: space-even;
  justify-content: space-between;
}

.profile-pic {
  height: 40px;
  width: 40px;
  margin-right: 5px;
}

.row {
  display: flex;
  flex-direction: row;
}

.list {
  margin-bottom: 20px;
}

.emoji_nums {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  color: #9d9d9d;
}
